*{
    margin: 0%;
    padding: 0%;
}
.con{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgb(216, 179, 254), rgb(255, 119, 194));
    display: flex;
    justify-content: center;
    align-items: center;

}
.bla{
    width: 25%;
    height: 75%;
    background-color: #ffffff;
    border-radius: 2%;
}
.text{
    width: 100%;
    height: 30%;
    background-color: #ffffff;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
}
.bottom{
    width: 100%;
    height: 65%;
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button{
    width: 100%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
    width: 250px;
}
.button input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(216, 179, 254);
    border-radius: 5px;
    outline: none;
    color: rgb(255, 66, 170);
    font-size: 1em;
}
.button span{
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(216, 179, 254);
    text-transform: uppercase;
}
.signupbtn{
    height: 40%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupbtn a{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: rgb(255, 66, 170);
    width: 160px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    border-radius: 30px;
}